@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/img/wallpaper.jpeg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
    font-family:"Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040E32;
    width: 100%;
    height: 100px;
}

.logo{
    display: flex;
    align-items: center;
    height: 90px;
}

.menu{
    display: flex;
    gap: 20px;
    margin: 0 20px 0 0;
}

.menu a{
    font-size: 1.2em;
    font-family: 'Audiowide', serif;
    color: #156191;

    text-decoration: none;
    transition: 0.2s;

}

.menu a:hover{
    text-decoration: underline;
    color: #ffffff;
    transition: 0.5s;
}

main{
    flex: 1;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
   
}

.login-box{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    gap: 20px;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
}

.login-box h2{
    text-align: center;
    font-size: 1.6em;
    color: #040E32;
    font-family:'Audiowide', serif;
    font-family: ;
}

.input-group{
    display: flex;
    flex-direction: column;
}

.input{
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #156191;
    box-shadow: 4px;
 
}

.btn-login{
    padding: 12px;
    background-color: #156191;
    color: #E8E6E7;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #040E32;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.479);
}

.btn-login:hover{
    background-color: #E8E6E7;
    color: #156191;
}

.forgot-password{
    text-decoration: none;
    color: #040E32;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 1px 1px 2px ;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040E32;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 50px;
}

footer h3{
    font-size: 1em;
}

footer p{
    font-size: 0.9em
}

footer a{
    font-size: 0.9em;
    color: #ffffff;
    text-decoration: none;
    margin: 0 0 0 10px;
}

footer a:hover{
    color: #156191;
}

@media (max-width: 480px) {
    .login-box {
        width: 85%; /* Ocupa quase toda a largura em telas pequenas */
        padding: 20px;
    }

    header {
        flex-direction: column; /* Empilha logo e menu se necessário */
        height: auto;
        padding: 10px 0;
    }

    .menu {
        margin: 10px 0;
        gap: 15px;
    }
}